{% extends 'base.jinja' %}

{% block title %}about{% endblock %}

{% block content %}
<h2>About</h2>
<p>Factor database is an open source project by TKoz for tracking prime
factorization progress of selected integers.</p>
<p>This website is largely inspired by the following</p>
<ul>
<li><a href="https://stdkmd.net/nrr" target="_blank">Factorization of near-repdigit-related numbers</a></li>
<li><a href="https://factordb.com/" target="_blank">Factordb.com</a></li>
</ul>
{% endblock %}
