{% extends 'base.jinja' %}

{% block title %}about{% endblock %}

{% block content %}
<h2>About</h2>
<p>Factor database is an open source project by TKoz for tracking prime
factorization progress of selected integers.</p>
{% endblock %}
