{% extends 'base.jinja' %}

{% block title %}account{% endblock %}

{% block content %}
<h2>Account</h2>

{% if logged_in %}
<div id="account_details">
<table>
    <tr>
        <td>Username:</td>
        <td>{{username|e}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{email|e}}</td>
    </tr>
    <tr>
        <td>Your name:</td>
        <td>{{fullname|e}}</td>
    </tr>
    <tr>
        <td>Account type:</td>
        <td>{% if is_admin %}admin{% else %}user{% endif %}</td>
    </tr>
</table>
<div id="change_password">
    <form action="/account" method="post">
    <input name="password" type="password" placeholder="current password" maxlength="128" /><br />
    <input name="new_password" type="password" placeholder="new password" maxlength="128" /><br />
    <input name="verify_password" type="password" placeholder="verify password" maxlength="128" /><br />
    <input type="submit" value="change password" />
    </form>
</div>
<span id="logout_link">
    <a href="/logout">Click here to log out.</a><br />
{% if exp_time %}
    <span>Session expires at: {{exp_time}}</span><br />
{% endif %}
    <span>Your IP: {{remote_addr}}</span>
</span>
</div>
<p>To request changes to information associated with your account or account
deletion, please send email to <a href="mailto:{{admin_email}}">{{admin_email}}</a>
from the address associated with your account.</p>

<h2>API</h2>

{% if api_key %}
<div id="api_key">
<p>Your API key was generated. Please save the value below securely. It cannot
be displayed again. If you lose it, you can generate a new key.</p>
<p>{{api_key}}</p>
</div>
{% else %}
<p>API keys can be generated by clicking the button below if you have either
forgotten your API key or it is the first time you need one. The key generated
is shown only once so please save it in a secure location.</p>
<form action="/account" method="post">
    <input type="hidden" name="api" value="1" />
    <input type="submit" value="generate new key" />
</form>
{% endif %}

{% else %}
<p>You are not logged in.</p>
{% endif %}
{% endblock %}
