{% extends 'base.jinja' %}

{% block title %}factor database{% endblock %}

{% block content %}
<h2>Home</h2>
<p>Welcome to the Factor Database. This website tracks prime factorization
progress for selected integers. Please browse the
<a href="/tables">Factor Tables</a> to view known factorizations and find
numbers you can contribute factors for.</p>
{% endblock %}
